{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">{{ page.title }}</h1>
    <p class="mb-6">{{ page.introduction }}</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for product in products %}
            <div class="bg-white p-4 rounded shadow">
                {% with product.gallery_images.first as first_image %}
                    {% if first_image %}
                        <img src="{{ first_image.image.file.url }}" alt="{{ product.title }}" class="w-full h-auto mb-2 rounded">
                    {% endif %}
                {% endwith %}
                <h2 class="text-xl font-bold">{{ product.title }}</h2>
                <p class="text-gray-700">Цена: {{ product.price }} руб.</p>
                <p class="text-sm mt-2">{{ product.description|truncatewords:20 }}</p>
                <div class="flex justify-between items-center mt-5">
                    <button
                            data-url="{% url 'add_to_basket' product.id %}"
                            @click="
                            let url = $el.dataset.url;
                            fetch(url, {
                     headers: { 'X-Requested-With': 'XMLHttpRequest' }
                   })
                   .then(response => response.json())
                   .then(data => { $store.basket.count = data.basket_count })
                   .catch(error => alert('Ошибка при добавлении товара в корзину'))"
                            class="px-3 py-1 bg-blue-600 text-white rounded">
                        Добавить
                    </button>
                    <a href="{{ product.url }}" class="inline-block mt-2 text-blue-500 hover:underline">
                        Подробнее
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
